* {
    padding: 0;
    margin: 0;
}

body {
    background: #ccc;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -280px;
    font-size: 18px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 512px;
    height: 512px;
}